<ion-list>
  <!-- <ion-item>Update Profile</ion-item> -->
  <ion-item button (click)="addBio()">Update bio</ion-item>
  <ion-item button>
    <label for="file-upload" class="custom-file-upload full-width full-height">
      Update profile picture
    </label>
    <input
      id="file-upload"
      type="file"
      (change)="uploadPhoto($event)"
      accept=".png,.jpg"
  /></ion-item>

  <ion-item button (click)="setMenuValues('ADD_NEW_LINK')"
    >Add new link</ion-item
  >
  <ion-item button (click)="setMenuValues('ADD_QUICK_LINK')"
    >Add quick links</ion-item
  >
  <ion-item button (click)="setMenuValues('GET_MY_QR')"
    >Get My QR code
  </ion-item>
  <ion-item button (click)="setMenuValues('READ_MESSAGES')"
    >Open Messages
  </ion-item>
  <ion-item button (click)="setMenuValues('SELECT_FONTS')"
    >Change Font</ion-item
  >
  <ion-item button (click)="setMenuValues('CHANGE_THEME')"
    >Change Theme
  </ion-item>
  <ion-item button (click)="setMenuValues('ANALYTICS')"
    >Analytics <sup><b>Premium</b></sup>
  </ion-item>
  <ion-item lines="none" detail="false" button (click)="dismiss()"
    >Close</ion-item
  >
</ion-list>
