<ion-list>
  <!-- <ion-item>Update Profile</ion-item> -->
  <ion-item button (click)="addBio()">Update bio</ion-item>
  <ion-item button (click)="setMenuValues('UPDATE_PROFILE')">Update profile pic</ion-item>
  <ion-item button (click)="setMenuValues('ADD_NEW_LINK')">Add new link</ion-item>
  <ion-item button (click)="setMenuValues('ADD_QUICK_LINK')">Add quick links</ion-item>
  <ion-item button (click)="setMenuValues('GET_MY_QR')">Get My QR code </ion-item>
  <ion-item lines="none" detail="false" button (click)="dismiss()">Close</ion-item>
</ion-list>