<ion-header>
  <ion-toolbar>
    <ion-title class="center-head">About Lincit 🔗  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="content">
<p>Since there is only room for one clickable URL on your bio, you should make the best out of it. Once you have the customers’ attention, you should try to build up loyalty so they will return.</p>

<p>Here are some ideas for your bio link:</p>

<p>Add links to your lincit account . If a product is already popular, it makes sense to put the website in your bio. Choose something that will get people hooked, and then your customers will be inspired to browse through other stuff you offer. Then, design your website in such a way that users enjoy exploring your other products or services.</p>
<p>Make a promotion for a new product or a big sale. Use the social media hype to boost your sales. Remember to mention the discounts and maybe give out promo codes.</p>
<p>Give people free samples of your product, or host a giveaway. Free stuff always attracts more customers, especially if there’s a time limit involved.</p>
<p>Let your followers know who you are. You can set the link to your about page and bring them closer to you.</p>
<p>Invite people to watch your video, read your blog, or listen to your podcast. You can use any of these formats to genuinely connect with your audience. Remember that nobody likes blatant and generic ads but people enjoy discovering quality content.</p>
</div>
</ion-content>
