.share-icon-area {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.profile-picture {
  width: 90px;
  height: 90px;
  padding: 25px;
  margin-top: 48px;
  border-radius: 50%;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture-size {
  width: 90px;
  height: 90px;
  border: 1px solid var(--secondary-lite);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  border-radius: 50%;
}

.profile-name {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-top: 16px;
  color: var(--secondary-color);
}

.bio-lines {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-top: 24px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.social-icons-area {
  width: 70%;
  margin-top: 24px;
  padding: 8px 24px 8px 0px;
  text-align: center;
}

.social-icon {
  margin: 0px 0px 0px 24px;
}

.links-area {
  width: 100%;
}

.edit-icons-style {
  width: 70%;
  margin-top: 24px;
  padding: 8px 24px 8px 0px;
  text-align: center;
  border: 1px black solid;
  border-radius: 10px;
}

.icons-add-position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-size {
  height: 50px;
  width: 50px;
  border: 1px solid var(--secondary-lite);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin-left: 8px;
  font-size: 16pt;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.settings-icon-area {
  margin-left: 24px;
}

.icon-margin-zero {
  margin-left: 0;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

.container {
  width: 400px;
  padding: 10px;
}

.message-blue {
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--secondary-lite);
  width: 68vw;
  height: 20vh;
  text-align: left;
  font: 400 0.9em "Open Sans", sans-serif;
  border: 1px solid var(--secondary-lite);
  border-radius: 10px;
}

.message-orange {
  position: relative;
  margin-bottom: 10px;
  margin-left: calc(100% - 240px);
  padding: 10px;
  background-color: #f8e896;
  width: 200px;
  height: 50px;
  text-align: left;
  font: 400 0.9em "Open Sans", sans-serif;
  border: 1px solid #dfd087;
  border-radius: 10px;
}

.message-content {
  padding: 0;
  margin: 0;
  height: 20vh;
}

.message-timestamp-right {
  position: absolute;
  font-size: 0.85em;
  font-weight: 300;
  bottom: 5px;
  right: 5px;
}

.message-timestamp-left {
  position: absolute;
  font-size: 0.85em;
  font-weight: 300;
  bottom: 5px;
  left: 5px;
}

.message-blue:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid var(--secondary-lite);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -15px;
}

.message-blue:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid var(--secondary-lite);
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: -1px;
  left: -17px;
}

.message-orange:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f8e896;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: 0;
  right: -15px;
}

.message-orange:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 17px solid #dfd087;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  bottom: -1px;
  right: -17px;
}

.close {
  float: right;
}

.links-style-position {
  justify-content: space-between;
}

.links-style-position-center {
  justify-content: center;
}

.remove-shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
