.share-icon-area {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.profile-picture {
  width: 90px;
  height: 90px;
  padding: 25px;
  margin-top: 48px;
  border-radius: 50%;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture-size {
  width: 90px;
  height: 90px;
  border: 1px solid var(--secondary-lite);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  border-radius: 50%;
}

.profile-name {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-top: 16px;
  color: var(--secondary-color);
}

.bio-lines {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-top: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.social-icons-area {
  width: 70%;
  margin-top: 24px;
  padding: 8px 24px 8px 0px;
  text-align: center;
}

.social-icon {
  margin: 0px 0px 0px 24px;
}

.links-area {
  width: 100%;
  margin-top: 48px;
}

.edit-icons-style {
  width: 70%;
  margin-top: 24px;
  padding: 8px 24px 8px 0px;
  text-align: center;
  border: 1px black solid;
  border-radius: 10px;
}

.icons-add-position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-size {
  height: 50px;
  width: 50px;
  border: 1px solid var(--secondary-lite);
}

.link {
  margin-left: 8px;
  font-size: 16pt;
}

.settings-icon-area {
  margin-left: 24px;
}
