.create-account-header {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-top: 115px;
}

.country-drop-down{
  width: 18%;
  border-radius: 10px 0px 0px 10px;
}

.flex-parent{
  display: flex;
}

.phone-number {
  border-radius: 0px 10px 10px 0px;
}