<ion-header>
  <ion-toolbar>
    <ion-title>Profile picture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
  <button class="btn-style" (click)="dismiss()"><h2>Save</h2></button>
</ion-content>
