<ion-content>
  <form class="layout no-height" [formGroup]="linkForm">
    <!-- <form class="full-width"  action=""> -->
    <div class="header">
      Add new link
      <span class="material-icons close" (click)="dissmiss()"> close </span>
    </div>
    <span class="link-image-area">
      <ion-avatar class="image-size" slot="start">
        <img
          *ngIf="linkForm.get('imageUrl').value != ''"
          (click)="openIconModal()"
          [src]="linkForm.get('imageUrl').value"
        />

        <span
          *ngIf="linkForm.get('imageUrl').value == ''"
          class="material-icons social-icon icon-margin-zero"
          (click)="openIconModal()"
        >
          link
        </span>
      </ion-avatar>
      <span class="general-text-16 default-margin-left"
        >Choose image for link</span
      >
    </span>
    <div class="full-width">
      <ion-input
        class="input-style"
        placeholder="Link URL"
        formControlName="linkUrl"
      ></ion-input>
      <p class="error" *ngIf="linkForm.get('linkUrl').hasError('pattern')">
        Invalid URL
      </p>
      <ion-input
        class="input-style"
        placeholder="Link name"
        formControlName="linkName"
      ></ion-input>
      <button
        class="btn-style"
        (click)="addNewLink()"
        [disabled]="!linkForm.valid"
      >
        <h2>Add</h2>
      </button>
    </div>
    <!-- </form> -->
  </form>
</ion-content>
