<ion-header>
  <ion-toolbar>
    <ion-title class="center-head">Be a pro creator 🥳
      <!-- <p> choose your plan</p> -->
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Free</ion-card-subtitle>
      <ion-card-title>₹ 0 / mo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li>1000 Free links</li>
        <li>Unlimited quick links</li>
        <li>Custom profile picture</li>
        <li>Add your bio</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="payment('5900','SILVER')">
    <ion-card-header>
      <ion-card-subtitle>Silver</ion-card-subtitle>
      <ion-card-title>₹ 59 / mo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li>Unlimited links</li>
        <li>Unlimited quick links</li>
        <li>Custom profile picture</li>
        <li>Add your bio</li>
        <li>Add direct Whatsapp link</li>
        <li>QR code of your profile</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="payment('8900','GOLD')">
    <ion-card-header>
      <ion-card-subtitle>Gold</ion-card-subtitle>
      <ion-card-title>₹ 89 / mo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li>Unlimited links</li>
        <li>Unlimited quick links</li>
        <li>Custom profile picture</li>
        <li>Add your bio</li>
        <li>Add direct Whatsapp link</li>
        <li>QR code of your profile</li>
        <li>Customizable theme</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="payment('79900','PLATINUM')">
    <ion-card-header>
      <ion-card-subtitle>Platinum</ion-card-subtitle>
      <ion-card-title>₹ 799 / lifetime</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li>Unlimited links</li>
        <li>Unlimited quick links</li>
        <li>Custom profile picture</li>
        <li>Add your bio</li>
        <li>Add direct Whatsapp link</li>
        <li>QR code of your profile</li>
        <li>Customizable theme</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
