<ion-content class="layout">
  <div class="close-button" (click)="close()">
    <span class="material-icons social-icon default-margin-8"> close </span>
  </div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
  <div >Font one</div>
</ion-content>
