/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --primary-color: #bd4b4b;
  --secondary-color: #000000;
  --primary-lite: #efb7b7;
  --secondary-lite: #eeeeee;
}
body {
  background-color: var(--secondary-lite);
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.footer {
  position: relative;
  top: 10vh;
}

.input-style {
  height: 60px;
  width: 100%;
  margin-top: 24px;
  background: #ffffff;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 10px;
}

.btn-style {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 10px;
  height: 60px;
  margin-top: 24px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  width: 100%;
  color: var(--secondary-lite);
}

.layout {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  padding: 24px;
  overflow-x: scroll;
}

.primary-color {
  color: var(--secondary-lite);
}

.primary-color-background {
  background-color: var(--primary-color);
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.display-flex-center {
  display: flex;
  align-items: center;
}

.display-justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newLinkModal .modal-wrapper {
  height: 50%;
  bottom: 0;
  position: absolute;
  display: block;
  border-radius: 10px 10px 0px 0px;
}

.general-text-16 {
  font-size: 16px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
}

.default-margin-left {
  margin-left: 24px;
}

.default-margin-8 {
  margin: 8px;
}

.my-custom-alert .alert-wrapper {
  min-width: 90% !important;
}

.swiper-pagination-bullet-active {
  background: var(--primary-color);
}

.company {
  text-align: center;
}

.link-sample-success {
  font-size: 16px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  margin-top: 8px;
  align-self: flex-start;
  color: green;
  opacity: 0.7;
}

.link-sample-fail {
  font-size: 16px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  margin-top: 8px;
  align-self: flex-start;
  color: red;
  opacity: 0.7;
}
